In [1]:
from datasets import load_dataset

In [2]:
dataset = load_dataset("b-mc2/sql-create-context")

Downloading readme:   0%|          | 0.00/3.35k [00:00<?, ?B/s]

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/21.8M [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Generating train split: 0 examples [00:00, ? examples/s]

In [39]:
from transformers import T5ForConditionalGeneration, T5Tokenizer

In [27]:
import torch

In [28]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [40]:
model = T5ForConditionalGeneration.from_pretrained('thangved/text2sql').to(device) # type: ignore

In [6]:
tokenizer = T5Tokenizer.from_pretrained('t5-small')

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thouroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [10]:
import pandas as pd

In [54]:
test_ds = dataset['train'][:100] # type: ignore

In [55]:
test_df = pd.DataFrame(test_ds)

In [56]:
test_df.head()

                                              answer  ...                                            context
0           SELECT COUNT(*) FROM head WHERE age > 56  ...                    CREATE TABLE head (age INTEGER)
1  SELECT name, born_state, age FROM head ORDER B...  ...  CREATE TABLE head (name VARCHAR, born_state VA...
2  SELECT creation, name, budget_in_billions FROM...  ...  CREATE TABLE department (creation VARCHAR, nam...
3  SELECT MAX(budget_in_billions), MIN(budget_in_...  ...  CREATE TABLE department (budget_in_billions IN...
4  SELECT AVG(num_employees) FROM department WHER...  ...  CREATE TABLE department (num_employees INTEGER...

[5 rows x 3 columns]

In [57]:
def converter_x(x:dict):
    question = x['question']
    context = x['context']
    
    return f'query for: {question}? </s> tables: {context}'

def converter_x_tensor(x: dict):
    question = x['question']
    context = x['context']
    
    return tokenizer(
        f'query for: {question}? ',
        f'tables: {context}',
        max_length=200,
        padding="max_length",
        truncation=True,
        pad_to_max_length=True,
        add_special_tokens=True,
        return_tensors='pt'
        ).to(device)

def converter_y(x: dict):
    answer = x['answer']
    return answer


X = list(map(converter_x, test_df.iloc)) # type: ignore
X_tensor = list(map(converter_x_tensor, test_df.iloc)) # type: ignore
Y = list(map(converter_y, test_df.iloc)) # type: ignore

In [34]:
import evaluate

2023-11-15 12:29:28.073277: I tensorflow/core/util/port.cc:111] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-11-15 12:29:28.147805: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-15 12:29:28.545409: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-11-15 12:29:28.545458: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-11-15 12:29:28.547259: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-11-15 12:29:28.706546: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-15 12:29:31.151960: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [35]:
bleu = evaluate.load('bleu')

Downloading builder script:   0%|          | 0.00/5.94k [00:00<?, ?B/s]

Downloading extra modules:   0%|          | 0.00/1.55k [00:00<?, ?B/s]

Downloading extra modules:   0%|          | 0.00/3.34k [00:00<?, ?B/s]

In [58]:
answers = []

for x_tensor in X_tensor:
    y_pred = model.generate(input_ids=x_tensor['input_ids'], attention_mask=x_tensor['attention_mask'], max_length=128)
    answer = tokenizer.decode(y_pred.flatten(), skip_special_tokens=True)
    
    print(answer)
    
    answers.append(answer)

SELECT COUNT(*) FROM head WHERE age > 56
SELECT name, born_state, age FROM head ORDER BY age
SELECT creation, name, budget_in_billions FROM department
SELECT MAX(budget_in_billions) FROM department
SELECT AVG(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15
SELECT name FROM head WHERE born_state = 'California'
SELECT DISTINCT T1.creation FROM department AS T1 JOIN management AS T2 ON T1.department_id = T2.department_id WHERE T2.born_state = 'Alabama'
SELECT born_state FROM head GROUP BY born_state HAVING COUNT(*) >= 3
SELECT COUNT(*) FROM department GROUP BY creation ORDER BY COUNT(*) DESC LIMIT 1
SELECT T1.name, T1.num_employees FROM department AS T1 JOIN management AS T2 ON T1.department_id = T2.department_id WHERE T2.temporary_acting = 'Yes'
SELECT COUNT(DISTINCT temporary_acting) FROM management
SELECT COUNT(*) FROM department AS T1 JOIN management AS T2 ON T1.department_id = T2.department_id WHERE T2.department_id = "Supp" AND T1.department_id > T2.department_id
SELECT DISTINCT t1.age FROM head AS t1 JOIN management AS t2 ON t1.head_id = t2.head_id WHERE t2.temporary_acting = 'P'
SELECT T1.born_state FROM department AS T1 JOIN head AS T2 ON T1.department_id = T2.department_id JOIN management AS T3 ON T1.head_id = T3.head_id WHERE T3.name = 'Treasury' INTERSECT SELECT T1.born_state FROM management AS T1 JOIN department AS T3 ON T3.department_id = T3.department_id AND T3.name = 'Homeland Security'
SELECT T1.department_id, T1.name, COUNT(*) FROM department AS T1 JOIN management AS T2 ON T1.department_id = T2.department_id GROUP BY T1.department_id HAVING COUNT(*) > 1
SELECT head_id, name FROM head WHERE name LIKE '%Ha%'
SELECT COUNT(*) FROM farm
SELECT COUNT(*) FROM farm ORDER BY Total_Horses
SELECT Hosts FROM farm_competition WHERE Theme > "Aliens"
SELECT Theme FROM farm_competition ORDER BY YEAR
SELECT AVG(Working_Horses) FROM farm WHERE Total_Horses > 5000
SELECT MAX(Cows) FROM farm
SELECT COUNT(DISTINCT Status) FROM city
SELECT Official_Name FROM city ORDER BY Population DESC
SELECT Official_Name, Status FROM city ORDER BY Population DESC LIMIT 1
SELECT T1.Year, T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.Host_city_ID = T2.City_ID
SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.Host_city_ID = T2.Host_city_ID GROUP BY T1.Host_city_ID HAVING COUNT(*) > 1
SELECT T1.Status FROM city AS T1 JOIN farm_competition AS T2 ON T1.Host_city_ID = T2.City_ID GROUP BY T1.Host_city_ID ORDER BY COUNT(*) DESC LIMIT 1
SELECT T1.Theme FROM farm_competition AS T1 JOIN city AS T2 ON T1.Host_city_ID = T2.City_ID WHERE T2.Population > 1000
SELECT Status, AVG(Population) FROM city GROUP BY Status
SELECT Status FROM city ORDER BY Status
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1
SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.Host_city_ID = T2.Host_city_ID
SELECT Status FROM city WHERE Population > 1500 GROUP BY Status HAVING COUNT(*)  500
SELECT Official_Name FROM city WHERE Population > 1500 OR Population  500
SELECT Census_Ranking FROM city WHERE Status > "Village"
SELECT DISTINCT T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_id GROUP BY T1.course_name ORDER BY COUNT(*) DESC LIMIT 1
SELECT student_id FROM student_course_registrations ORDER BY student_id LIMIT 1
SELECT T1.first_name, T1.last_name FROM people AS T1 JOIN candidates AS T2 ON T1.candidate_id = T2.candidate_id
SELECT T1.student_id FROM students AS T1 JOIN student_course_attendance AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id ORDER BY COUNT(*) DESC LIMIT 1
SELECT student_id FROM student_course_attendance
SELECT T1.student_id, T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_id GROUP BY T1.student_id
SELECT T2.student_details FROM student_course_registrations AS T1 JOIN students AS T2 ON T1.student_id = T2.student_id WHERE T2.registration_date = (SELECT MAX(registration_date) FROM student_course_registrations)
SELECT COUNT(*) FROM course_course_attendance AS T1 JOIN student_course AS T2 ON T1.course_id = T2.course_id WHERE T2.course_name = 'English'
SELECT COUNT(*) FROM courses AS t1 JOIN student_course_attendance AS t2 ON t1.course_id = t2.course_id WHERE t2.student_id = 171
SELECT T1.candidate_id FROM people AS T1 JOIN candidates AS T2 ON T1.person_id = T2.candidate_id WHERE T2.email_address = "stanley.monahan@example.org"
SELECT candidate_id FROM candidate_assessments WHERE assessment_date = "Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Haupt-Hass_
SELECT T1.student_details FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id ORDER BY COUNT(*) DESC LIMIT 1
SELECT T1.student_id, COUNT(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id
SELECT T1.course_name, COUNT(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id
SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "Pass"
SELECT T1.cell_mobile_number FROM candidates AS T1 JOIN candidates AS T2 ON T1.candidate_id = T2.candidate_id JOIN candidates AS T3 ON T1.person_id = T3.candidate_id WHERE T3.asessment_outcome_code = "Fail"
SELECT student_id FROM student_course_attendance WHERE course_id = 301
SELECT student_id FROM student_course_attendance WHERE course_id = "301"
SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id
SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id JOIN students AS T3 ON T1.person_id = T3.student_id
SELECT course_name FROM courses ORDER BY course_name
SELECT first_name FROM people ORDER BY first_name
SELECT T1.student_id FROM student_course_registrations AS T1 JOIN student_course_attendance AS T2 ON T1.student_id = T2.student_id
SELECT DISTINCT T1.course_id FROM student_course_registrations AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T2.student_id = 121
SELECT T1.student_id FROM student_course_registrations AS T1 JOIN student_course_attendance AS T2 ON T1.student_id = T2.student_id WHERE T2.not_student_id IN (SELECT T1.student_id FROM student_course_registrations AS T1 JOIN student_course_attendance AS T2 ON T1.student_id = T2.student_id)
SELECT T1.student_id FROM student_course_registrations AS T1 JOIN course_id AS T2 ON T1.course_id = T2.course_id ORDER BY T1.registration_date
SELECT T1.student_id FROM student_course_attendance AS T1 JOIN courses AS T2 ON T1.course_id = T2.course_id WHERE T2.date_of_attendance = "statistics" ORDER BY T2.date_of_attendance
SELECT date FROM weather WHERE max_temperature_f > 85
SELECT name FROM station WHERE lat  37.5
SELECT city FROM station GROUP BY city ORDER BY LAT DESC LIMIT 1
SELECT start_station_name, end_station_name FROM trip WHERE id = 3
SELECT AVG(lat), LENGTH(long) FROM station WHERE city = 'San Jose'
SELECT id FROM trip WHERE duration LIKE '%Y' ORDER BY duration LIMIT 1
SELECT SUM(duration) FROM trip WHERE bike_id = 636
SELECT zip_code, AVG(mean_temperature_f) FROM weather GROUP BY zip_code ORDER BY AVG(mean_temperature_f) DESC
SELECT COUNT(DISTINCT bike_id) FROM trip
SELECT COUNT(DISTINCT city) FROM station
SELECT COUNT(*) FROM station WHERE city = 'Montreal View'
SELECT T2.name FROM status AS T1 JOIN station AS T2 ON T1.station_id = T2.id WHERE T2.bikes_available = 7
SELECT start_station_name, start_station_id FROM trip WHERE start_date = "August" ORDER BY start_station_id DESC LIMIT 1
SELECT bike_id FROM trip WHERE zip_code = 94002 ORDER BY bike_id LIMIT 1
SELECT COUNT(*) FROM weather WHERE mean_humidity > 50 INTERSECT SELECT mean_visibility_miles FROM weather WHERE mean_visibility_miles > 8
SELECT T2.lat, T2.long FROM station AS T1 JOIN trip AS T2 ON T1.id = T2.start_station_id ORDER BY T2.long LIMIT 1
SELECT t1.id FROM status AS t1 JOIN station AS t2 ON t1.station_id = t2.station_id WHERE t2.city = "San Francisco" AND bikes_available > 10
SELECT name, id FROM station WHERE bikes_available AVG(bikes_available) > 14 OR id = station WHERE installation_date = 'December'
SELECT cloud_cover FROM weather ORDER BY zip_code DESC LIMIT 3
SELECT zip_code FROM weather ORDER BY mean_sea_level_pressure_inches LIMIT 1
SELECT AVG(t1.bikes_available) FROM station AS t1 JOIN status AS t2 ON t1.id = t2.station_id WHERE t2.city = "Palo Alto" AND t2.city = "Palo Alto"
SELECT AVG(long) FROM station WHERE NOT id IN (SELECT station_id FROM status WHERE bikes_available > 10)
SELECT date, zip_code FROM weather WHERE max_temperature_f = 80
SELECT T1.id FROM trip AS T1 JOIN weather AS T2 ON T1.zip_code = T2.zip_code WHERE T2.zip_code = "Answer" AND T1.average_temperature_f > 60
SELECT zip_code, COUNT(*) FROM weather WHERE max_wind_Speed_mph = 25
SELECT date, zip_code FROM weather WHERE min_dew_point_f  (SELECT MIN(min_dew_point_f) FROM weather WHERE zip_code = 94107)
SELECT t1.installation_date FROM trip AS t1 JOIN station AS t2 ON t1.id = t2.end_station_id
SELECT id FROM trip WHERE start_station_id IN (SELECT id FROM station) ORDER BY dock_count DESC LIMIT 1
SELECT COUNT(*) FROM trip WHERE NOT id IN (SELECT end_station_id FROM station WHERE city = 'San Francisco')
SELECT date FROM weather WHERE EVENTS = "Fog" AND zip_code = 94107
SELECT id FROM station WHERE lat > 37.4 AND bikes_available  7
SELECT name FROM station WHERE bike_available > 10 AND id IN (SELECT id FROM status AS t1 JOIN station AS t2 ON t1.station_id = t2.station_id WHERE t2.city = 'San Jose') AND t2.name = 'San Jose'
SELECT name, lat, city FROM station ORDER BY lat LIMIT 1
SELECT date, mean_temperature_f, mean_humidity FROM weather WHERE max_gust_speed_mph = "3"
SELECT DISTINCT city, COUNT(*) FROM station GROUP BY city HAVING COUNT(*) >= 15
SELECT start_station_id, start_station_name FROM trip GROUP BY start_station_id HAVING COUNT(*) >= 200
SELECT zip_code FROM weather WHERE mean_visibility_miles  10

In [59]:
bleu.compute(predictions=answers, references=Y)

{'bleu': 0.6950776947825641,
 'precisions': [0.8435689455388181,
  0.7533145841703496,
  0.6651318543323567,
  0.5910878112712975],
 'brevity_penalty': 0.9831486212513595,
 'length_ratio': 0.9832890239270794,
 'translation_length': 2589,
 'reference_length': 2633}